# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @lezzago @joshuali925 @anirudha @ruanyl @SuZhou-Joe @xluo-aws @gaobinlong @Hailong-am @wanglam @raintygao
