// TODO: fix the styling due to not wanting the chat icon to push elements
// Might be worth reconsidering the icon for absolute positioning
.incontextInsightHoverEffectUnderline {
  border: solid 2px transparent !important;
  margin: -2px -5px -5px -7px !important;
}

.incontextInsightHoverEffect0 {
  margin-left: 6px;
  margin-right: 2px;
  padding: 0 2px;
  opacity: 0 !important;
  display: block !important;
}

.incontextInsightHoverEffect25 {
  opacity: 0.25 !important;
  display: block !important;
}

.incontextInsightHoverEffect50 {
  opacity: 0.5 !important;
  display: block !important;
}

.incontextInsightHoverEffect75 {
  opacity: 0.75 !important;
  display: block !important;
}

.incontextInsightHoverEffect100 {
  opacity: 1 !important;
  display: block !important;
}

.incontextInsightAnchorButton {
  box-sizing: border-box;
  max-width: fit-content;
  border-radius: 0;
  white-space: nowrap;
  // TODO: this doesn't scale nicely on same elements on view
  // border-image: linear-gradient(to left, #38414D 60%, transparent 40%) 20% repeat;
  padding: 0 5px;
  margin: 0 -2px -5px -5px;

  .summary-beta-badge {
    margin-left: 4px;
    cursor: pointer;
    .euiBetaBadge__icon {
      filter: brightness(100);
    }
  }
}

.incontextInsightAnchorButton:focus {
  background: none;
}

.incontextInsightPopoverTitle {
  // TODO: Remove this one paddingSize is fixed
  padding: 0 !important;
  margin-bottom: 0 !important;
  border: none;

  :first-child {
    border: none;
  }

  .euiBadge__text {
    text-transform: none;
    font-weight: bold;
  }

  .euiBadge__icon {
    margin: 2px 0 2px 0;
  }

  .euiIcon--small {
    height: 100%;
    width: 22px;
    padding: 2px 0;
  }
}

.incontextInsightPopover {
  // Color for $ouiColorDarkestShade that don't revert color for dark mode
  background-color: #343741 !important;

  .euiPopover__panelArrow:after {
    border-right-color: #343741 !important;
  }

  .euiLoadingContent__singleLineBackground {
    background: linear-gradient(137deg, #a1a5ae80 45%, #ffffff80 50%, #98a2b380 55%) !important;
  }
}

.incontextInsightPopoverFooter {
  // TODO: Remove this one paddingSize is fixed
  padding: 4px 12px 8px !important;
  border: none;
}

.incontextInsightPopoverBody {
  max-width: 486px;
  min-width: 486px;
  width: 100%;

  .euiTitle {
    color: $euiColorGhost;
  }
}

.incontextInsightGeneratePopoverTitle {
  // TODO: Remove this one paddingSize is fixed
  padding: 0 !important;
  padding-left: 5px !important;
  margin-bottom: 0 !important;
  min-height: 30px;
  max-height: 30px;
  border: none;
}

.incontextInsightGeneratePopoverFooter {
  padding: 0 $euiSizeS !important;
  margin: 0 !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $euiSizeS;

  .buttonGroupDivider {
    height: 24px;
    border-left: $euiBorderThin;
    margin: 0 2px;
  }

  .messageActionsWrapper {
    flex-grow: 1;
  }
}

.incontextInsightGeneratePopoverContent {
  display: flex;
  overflow: auto;
  max-height: 300px;
  scrollbar-width: thin;
  padding: 0 $euiSizeS;
}

.incontextInsightSummary {
  border: $euiBorderThin;
  border-radius: 4px;
}

.incontextInsightSuggestionListItem {
  margin-top: 0;
  border: $euiBorderThin;
  border-radius: 4px;

  .euiListGroupItem__button {
    padding: 0;
  }

  .euiListGroupItem__icon {
    margin: 2px;
    margin-right: 5px;
  }

  .euiListGroupItem__extraAction {
    margin-left: 10px;
    margin-right: -2px;
  }

  .euiListGroupItem__extraAction:hover {
    background: none;
  }

  .euiListGroupItem__extraAction:focus {
    background: none;
  }
}
