.incontextInsightAnchorButton {
  box-sizing: border-box;
  max-width: fit-content;
  border-radius: 0;
  white-space: nowrap;

  .incontextInsightAnchorIcon {
    margin-left: 4px;
    .summary-beta-badge {
      cursor: pointer;
      vertical-align: middle;
      //OSD UI shared will add 1px margin top for this icon globally, use sub to align
      .euiIcon {
        vertical-align: sub;
      }
    }
  }
}

.incontextInsightAnchorButton:focus {
  background: none;
}

.incontextInsightPopoverTitle {
  // TODO: Remove this one paddingSize is fixed
  padding: 0 !important;
  margin-bottom: 0 !important;
  border: none;

  :first-child {
    border: none;
  }

  .euiBadge__text {
    text-transform: none;
    font-weight: bold;
  }

  .euiBadge__icon {
    margin: 2px 0 2px 0;
  }

  .euiIcon--small {
    height: 100%;
    width: 22px;
    padding: 2px 0;
  }
}

.incontextInsightPopover {
  // Color for $ouiColorDarkestShade that don't revert color for dark mode
  background-color: #343741 !important;

  .euiPopover__panelArrow:after {
    border-right-color: #343741 !important;
  }

  .euiLoadingContent__singleLineBackground {
    background: linear-gradient(137deg, #a1a5ae80 45%, #ffffff80 50%, #98a2b380 55%) !important;
  }
}

.incontextInsightPopoverFooter {
  // TODO: Remove this one paddingSize is fixed
  padding: 4px 12px 8px !important;
  border: none;
}

.incontextInsightPopoverBody {
  max-width: 486px;
  min-width: 486px;
  width: 100%;
}

.incontextInsightGeneratePopoverTitle {
  margin-bottom: 0 !important;
  border: none;
  display: flex;

  .euiTitle {
    color: $euiColorGhost;
  }

  .euiFlexGroup {
    gap: $euiSizeXS;
  }
}

.incontextInsightGeneratePopoverFooter {
  padding: 0 $euiSizeS !important;
  margin: 0 !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $euiSizeS;

  .buttonGroupDivider {
    height: 24px;
    border-left: $euiBorderThin;
    margin: 0 2px;
  }

  .messageActionsWrapper {
    flex-grow: 1;
  }
}

.incontextInsightGeneratePopoverContent {
  display: flex;
  overflow: auto;
  max-height: 300px;
  scrollbar-width: thin;
  padding: 0 $euiSizeS;
}

.incontextInsightSummary {
  border: $euiBorderThin;
  border-radius: 4px;
}

.incontextInsightSuggestionListItem {
  margin-top: 0;
  border: $euiBorderThin;
  border-radius: 4px;

  .euiListGroupItem__button {
    padding: 0;
  }

  .euiListGroupItem__icon {
    margin: 2px;
    margin-right: 5px;
  }

  .euiListGroupItem__extraAction {
    margin-left: 10px;
    margin-right: -2px;
  }

  .euiListGroupItem__extraAction:hover {
    background: none;
  }

  .euiListGroupItem__extraAction:focus {
    background: none;
  }
}
