

.palantirAnchorButton {
  box-shadow: none;
  border-radius: 360px;
  box-sizing: border-box;
  max-width: fit-content;
  padding: 1.25px 4px;
  margin: -1.25px -4px;

  .palantirAnchorIcon {
    padding: 0 2px;
    :first-child {
      opacity: 0;
      display: none;;
    }
  }
}

.palantirAnchorButton:hover {
  box-shadow: 0 0 0 1.25px $ouiBorderColor;
  cursor: pointer;

  .palantirAnchorContent {
    text-decoration: underline dashed 1.5px transparent;
  }

  .palantirAnchorIcon {
    :first-child {
      opacity: 1;
      transition: opacity 100ms linear;
      display: block;
    }
  }
}

.palantirAnchorButton:focus {
  background: none;
}

.palantirAnchorContent {
  text-decoration: underline dashed 1.5px #38414D;
  text-underline-offset: 3.75px;
}

.palantirPopoverTitle {
  // TODO: Remove this one paddingSize is fixed
  padding: 0 !important;
  border: none;
  margin-bottom: 2px !important;

  :first-child {
    border: none;
  }

  .euiBadge__text {
    text-transform: none;
    font-weight: bold;
  }

  .euiBadge__icon {
    margin: 2px 0 2px 0;
  }

  .euiIcon--small {
    height: 100%;
    width: auto;
  }
}

.palantirPopoverFooter {
  // TODO: Remove this one paddingSize is fixed
  padding: 4px 12px 8px !important;
  border: none;
}

.palantirPopoverBody {
  width: 300px;
}

.palantirSummary {
  border: $euiBorderThin;
  border-radius: 4px;
}

.palantirSuggestionListItem {
  margin-top: 0;
  border: $euiBorderThin;
  border-radius: 4px;

  .euiListGroupItem__button {
    padding: 0;
  }

  .euiListGroupItem__icon {
    margin: 2px;
    margin-right: 5px;
  }
}
