/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.llm-chat-flyout {
  .euiFlyoutFooter {
    background: transparent;
  }
}

.llm-chat-tabs {
  background: #e6f0f8;
  justify-content: space-around;

  .euiTab-isSelected {
    font-weight: 700;
  }

  .euiTab {
    color: $ouiLinkColor;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.llm-chat-bubble-panel.euiPanel {
  border-radius: 8px;
  max-width: 291px;
}
