/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.llm-chat-flyout {
  .euiFlyoutFooter {
    background: transparent;
  }
  .euiPage {
    background: transparent;
  }
  // .euiFlyoutBody__overflow {
  //   position: relative;
  // }
  // .euiFlyoutBody__overflowContent {
  //   position: absolute;
  //   bottom: 0px;
  //   width: 100%;
  // }
}

.llm-chat-tabs {
  background: #e6f0f8;
  justify-content: space-around;

  .euiTab-isSelected {
    font-weight: 700;
  }

  .euiTab {
    color: $ouiLinkColor;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.llm-chat-bubble-panel.euiPanel {
  border-radius: 8px;
  max-width: 291px;
}

.llm-chat-bubble-panel.llm-chat-bubble-panel-input {
  background: #57c3ff;
  border-color: white;
}
.llm-chat-bubble-panel.llm-chat-bubble-panel-output {
  background: #e6f0f8;
  border-color: white;
}
