.text2viz__page {
  .text2viz-canvas {
    height: 100%;
  }

  .visualize {
    height: 100%;
    background-color: $euiColorEmptyShade;

    .visChart__container {
      overflow: unset;
    }
  }

  .text2viz__right {
    padding-top: 15px;
    padding-left: 30px;
  }

  .feedback_thumbs {
    position: absolute;
    right: 16px;
    top: 4px;
    z-index: 9999;
  }
}
