.text2viz__page {
  .text2viz-canvas {
    height: 100%;
  }

  .visualize {
    height: 100%;
    background-color: $euiColorEmptyShade;

    .visChart__container {
      overflow: unset;
    }
  }

  .text2viz__right {
    padding-top: 15px;
    padding-left: 30px;
  }

  .text2viz__actionContainer {
    position: absolute;
    top: 4px;
    right: 16px;
    z-index: 9999;

    // No existing button from OUI with the same style, have to customize here
    .vizStyleEditor__editButton {
      height: 22px;
      padding: 2px;
      font-size: $ouiFontSizeXS;
    }

    .text2viz__feedbackContainer {
      padding-right: $euiSizeS;
      border-right: 1px solid $euiColorLightShade
    }

    .text2viz__vizStyleEditorContainer {
      padding-left: $euiSizeS;
    }
  }
}
